.general-table {
  .top-actions {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background-color: #f6f8fb;
  }

  :td.ant-table-column-sort {
    background-color: #fff;
  }
}